<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-5 col-sm-12">
        <img src="{{data.image}}" alt="sas" class="card-img">
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="card-body">
          <h5 class="card-title">{{data.title}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Category: </strong> {{data.category}}</li>
            <li class="list-group-item"><strong>Description: </strong> {{data.description}}</li>
            <li class="list-group-item"><strong>Rate: </strong> {{data.rating.rate}} ({{data.rating.count}})</li>
            <li class="list-group-item"><strong>Price: </strong> {{data.price}} dt</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  